.layout {
  display: flex;
}

.content {
  margin-left: 245px;
  width: calc(100% - 245px);
}

.footerFixed {
  position: fixed;
  bottom: 0;
  left: 245px;
  width: calc(100% - 245px);
  background: white;
  z-index: 5;
}

/* 🔥 Footer для feed */
.footerStatic {
  position: static;
  width: 100%;
  margin-top: 40px;
}
